.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: NTSomic;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 2;
}

.main__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.main__inner h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

.main__inner p {
    text-align: center;
    font-size: 26px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    margin-bottom: 20px;
}

/* .sun {
    width: 599px;
    height: 599px;
    position: absolute;
    background: yellow;
    right: -10%;
    top: -20%;
    border-radius: 100%;
    z-index: 1;
}

.drop {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.6)));
    background: -moz-linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(255, 255, 255, .6) 100%);
    width: 1px;
    height: 89px;
    position: absolute;
    bottom: 200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;

}
@-webkit-keyframes fall {
    to {
        margin-top: 900px;
    }
}
@-moz-keyframes fall {
    to {
        margin-top: 900px;
    }
} 
.body {
    background: #0D343A;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(#000000));
    background: -moz-linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(0, 0, 0, 1) 100%);
} */

.city_pick {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    z-index: 999;
    box-shadow: 1px 0px 20px 3px rgba(0,0,0,0.75);
    border-radius: 20px;
    animation: 1s popanim;
}

@keyframes popanim {
    0% {
        opacity: 0;
        top: 0%
    }
    100% {
        opacity: 1;
        top: 30%
    }
}

.popclose {
    display: none;
}

