.wrapper {
    display: grid;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: NTSomic;
    font-weight: 400;
    font-size: 16px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    min-width: 310px;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__inner button {
    background: #ffffff00;
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.weatherMain {
    align-self: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.listItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.listItem h1 {
    font-size: 80px;
    margin-bottom: 22px;
}

.listItem p {
    font-size: 26px;
}

.wind {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
}

.windIcon {
    height: 18px;
    margin-right: 5px;
}

.weaterNext {
    align-self: center;
    bottom: 0;
    width: 85%;
}

.footer {
    text-align: center;
}

.city_pick {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    width: 304px;
    z-index: 999;
    box-shadow: 0 10px 36px -2px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    transition: .7s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    opacity: 1;
}

.popclose {
    opacity: 0;
    top: 10%;
}

#listDays {
    width: 100%;
    font-size: 18px;
}

#listDays li {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#listDays li p {
    align-content: center;
}

.darkthm {
    background-color: #2E3643;
    color: #fff;
    fill: #fff;
}

.darkimg {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(307deg) brightness(100%) contrast(103%);
}
